#weapons-containter {
    text-align: center;
}
ul#selection,
ul#selection li {
    margin: 15px 0;
    padding: 0;
}
ul#selection li {
    font-family: "Open Sans",sans-serif;
    margin: 0 5px 30px 5px;
    padding: 5px 30px;
    background-color: #142029;
    display: inline-block;
    list-style-type: none;
    color: #ffffff;
    letter-spacing: 0.25em;
    cursor: pointer;
}

#scoreboard ul { margin: 0; padding: 0; }
    #scoreboard ul li {
        display: inline-block;
        text-transform: uppercase;
        color: #95C1DA;
    }

#computer-weapon,
#user-weapon { text-transform: uppercase; }
.score-num {
    color: red;
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 0.25px;
    font-size: 1em;
    color: #999;
}
#user-choice { text-transform: uppercase;}
.computer-tilt {
    -webkit-animation-name: computer-tilt; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: computer-tilt;
    animation-duration: 100ms;
    transform-origin: right bottom;
}

@keyframes computer-tilt {
    from {
        -ms-transform: rotate(0deg); /* IE 9 */
        webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(7deg); /* IE 9 */
        webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
        transform: rotate(7deg);
    }
}

.user-tilt {
    -webkit-animation-name: user-tilt; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: user-tilt;
    animation-duration: 100ms;
    transform-origin: left bottom;
}

@keyframes user-tilt {
    from {
        -ms-transform: rotate(0deg); /* IE 9 */
        webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(-7deg); /* IE 9 */
        webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
        transform: rotate(-7deg);
    }
}
